body {
   font-family: 'Calibri', Times, serif;
}

tr,
th,
td {
   border: 1px solid #40739e;
   border-radius: 12px;
}

tr,
td,
th {
   box-shadow: 1px 1px 5px 1px #b4a7f7;
}

button {
   background-color: transparent;
   border-radius: 7px;
   border-color: white;
   color: white;
   width: 100px;
   height: 30px;
   padding-top: 5px;
   background-color: transparent;
}

button:hover {
   cursor: pointer;
   background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
   animation: slidebg 5s linear infinite;
}

button:before {
   background-color: transparent;
}

@keyframes slidebg {
   to {
      background-position: 20vw;
   }
}

button:after {
   content: attr(alt);
   width: 100px;
   height: 30px;
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
}

th {
   background-color: #40739e;
}

thead th {
   font-size: 30px;
}

.rainbow {
   background: linear-gradient(90deg, #fa5305, #d9ed3a, #5cf622);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.container {
   background-color: #40739e;
}